html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
	color: #000;
	font-family: 'Roboto';
	overflow: scroll;
}
a {
	color: black;
  text-decoration: none;
}
a:hover {
  color: #f55;
}
section {
	min-height: 100vh;
	min-width: 100vw;
	}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  
}


#nav-bar {
	position: fixed;
    top: 0vh;
    left: 0vw;
    min-width: 100vw;
    border-bottom: 1px dotted black;
    background-color: rgba(255, 255, 255, 0.0);
    min-height: 10vh;
    z-index: 1500;
}
#nav-bar:hover {
    animation-name: navbar-hover;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
@keyframes navbar-hover {
  100% {
    background-color: rgba(255, 255, 255, 1);
  }
}

#nav-wrapper {
	position: absolute;
    min-width: 35vw;
    bottom: 0vh;
    left: 59vw;
    
}
#nav-links {
    list-style: none;
	display: flex;
    justify-content: space-between;
    font-size: 1vw;
    
    
}
.nav-link {
    vertical-align: bottom;
    padding-top: 0.45vw;
}
#logo-wrapper {
    position: absolute;
    bottom: 2vh;
    left: 4vw;
    width: 4.8vw;
    height: 2.1vh;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -999;
    
}
.logo {
	height: 0.6vh;
    background-color: black;
}
#logo1 {
	width: 3.1vw;
}
#logo2 {
	width: 2.5vw;
}
#logo3 {
	width: 4.8vw;
}

#logo-wrapper:hover


	.logo {
	
    animation-name: logo;
    animation-fill-mode: forwards;
    animation-duration: 5s;
    animation-iteration-count: 1;
}
	
@keyframes logo {
	50% {
	  transform: rotate(-3600deg);
    width: 4.8vw;
		}
    90% {
      
      transform: scale(5);
    }
    100% {        
      opacity: 0.1;
      transform: rotate(-3600deg);
      background-color: #f55;
      transform: scale(1);
      width: 100vw;
    }
}
#mailme {
  color: #f55;
  padding: 0.5vh 1vw;
  border: 1px dotted #f55;
  border-radius: 50px;
  z-index: 2000;
}
#mailme:hover {
  animation: mailmex 0.5s infinite;
}

@keyframes mailmex {
    25% {
	color: #f55;
}
    50% {
	color: #fc5;
}
    75% {
	color: #fcc;
}
}
.main-area {
	position: relative;
    top: 14vh;
    left: 4vw;
    display: flex;
    
}
h2 {
	font-size: 3.2vw;
    font-weight: bold;
}
.smalltext {
	font-size: 1vw;
}

.left-wrapper {
	width: 21vw;
    height: 86vh;
}

.breadcrumb-left-wrapper {
	position: absolute;
  	
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
  	margin: auto;
}

.right-wrapper {
    
	width: 68vw;
    height: 86vh;
    
    top: 0vh;
}
.bottom-left-link
{
	position: absolute;
    top: 76vh;
    left: 0vw;
    font-size: 3.2vw;
    font-weight: bold;
}

#player {
    position: fixed; 
    top: 14vh; 
    right: -9vw; 
    width: 10vw; 
    height: 10vw;  
    border: 1px dotted black; 
    border-radius: 5%;
	
}
#home-right-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
  
.home-thumbnail-wrapper {
  width: 20.76vw;
  height: 10.5vh;
  margin-right: 1.9vw;
  margin-bottom: 2.64vh;
  overflow: hidden;
}

.home-thumbnail {
	width: 21vw;
	height: 10.5vh;
	object-fit: cover;
	margin-right: 1.9vw;
	margin-bottom: 2.64vh;
  filter: grayscale(100%);
}

.home-thumbnail-caption {
  position: absolute;
  width: 20.76vw;
  height: 10.5vh;
  color: #f55;
  font-size: 1.6vw;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
}



.home-thumbnail-caption-centered {
  position: absolute;
  width: 100%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  
}

.home-thumbnail-large-wrapper {
  width: 68vw;
  height: 33.3vh;
  margin-bottom: 2.64vh;
  overflow: hidden;
  
}

.home-thumbnail-large {
	width: 68vw;
	height: 33.3vh;
	object-fit: cover;
	margin-bottom: 2.64vh;
  filter: grayscale(100%);
  
}

.home-thumbnail-large-caption {
  position: absolute;
  width: 68vw;
  height: 33.3vh;
  color: #f55;
  font-size: 4.8vw;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  
}

.home-thumbnail:hover, .home-thumbnail-large:hover {
  animation-name: drop_grayscale;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes drop_grayscale {
  100% {
    filter: none;
    opacity: 0.1;
    
  }
}

#subsection1 {

	position: absolute;
	left: 100vw;
	top: 101.4vh;

}
#subsection2 {

	position: absolute;
	left: 200vw;
	top: 101.4vh;

}
#subsection3 {

	position: absolute;
	left: 300vw;
	top: 101.4vh;


}
#subsection4 {

	position: absolute;
	left: 0vw;
	top: 201.4vh;


}

#main-menu-links {
	position: absolute;
	left: 29vw;
	min-width: 100%;
	font-size: 4.2vh;
	text-shadow: 0.4vw 1.6vw 0.1vw #fcc;	
}

.main-menu-link:hover {
	text-shadow: 0px 0px 1.5vw #f55;
}

#navscreen {
	animation-name: navback;
	animation-iteration-count: infinite;
	animation-duration: 10s;
}
@keyframes navback {
	0% {
		background-color: #EFD;
	}
	50% {
		background-color: #AFE;
	}
	100% {
		background-color: #EFD;
	}
}

#mmenulink1 {
	position: absolute;
	top: 0vh;
	animation-name: mmenulinks;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

#mmenulink2 {
	position: absolute;
	top: 6.2vh;
	animation-name: mmenulinks;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
}

#mmenulink3 {
	position: absolute;
	top: 11.4vh;
	animation-name: mmenulinks;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
}

#mmenulink4 {
	position: absolute;
	top: 16.6vh;
	animation-name: mmenulinks;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

@keyframes mmenulinks {
	0% {
		margin-top: 0vh;
	}
	
	
	50% {
		margin-top: 2vh;
	
	}
	
	100% {
		margin-top: 0vh;
	
	}
	
}
.sections-left-column {
	margin-left: -0.7vw;
}